body {
    font-family: 'Roboto Flex', sans-serif;
    display: flex;
    align-items: center; 
    justify-content: center;          
    margin: 0;
    background-color: #0A0404;
    
}

.bg {
    display: flex;
    position: absolute;
    z-index: -100;
    left: 200px;
    top: 80px;
}

.green {
    width: 553.5px;
    height: 294.694px;
    flex-shrink: 0;

}

.pink {
    width: 547px;
    height: 336.5px;
    flex-shrink: 0;
    margin-top: 100px;
}

.font-worksans { font-family: 'Work Sans', sans-serif; }


.header h4 {
    
    font-family: 'Roboto Flex', sans-serif !important;
    font-weight: 200 !important;

    font-optical-sizing: auto;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 22px;
    color: #FFF;
}

.header h2 {
    font-family: "Work Sans", sans-serif;
    text-align: center;
    font-size: 66px;
    font-weight: 600;
    margin-bottom: 0;
}

.header {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    

}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

}

.title h2{
    letter-spacing: -4.28px;
    color: aliceblue;
    
}

.title img {
    width: 70.58px;
    align-self: flex-end;
    vertical-align: middle;
    display: inline-block;
   
}

.menubtns{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addbtn{
    z-index: 10;
}
.addbtn, .recordbtn {
    width: 73px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 4px solid #121212;
    background: #000;
    box-shadow: 0px 1px 7.8px 13px rgba(0, 0, 0, 0.68) inset, -3px -13px 32.8px 10px rgba(255, 255, 255, 0.25) inset, 1px 7px 22.9px 2px rgba(7, 22, 10, 0.81), 5px -4px 13.4px 0px #78AA96;
    transition: all 0.3s ease-in-out;
}    


.addbtn:hover, .recordbtn:hover {
    border: none;
    z-index: 0;
    box-shadow: 0px 1px 7.8px 13px rgba(0, 0, 0, 0.68) inset, -3px -13px 32.8px 10px rgba(255, 255, 255, 0.25) inset;
    background-color: #1b1b1b;
    transform: translateY(5px);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.add-modal {
    visibility: hidden;
    z-index: 20;
}



.add-modal.show {
    visibility: visible;
    z-index: 20;
}

.bgblr {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.bgblr.show {
    visibility: visible;
    opacity: 1;
}

.bgadd.show {
    visibility: visible;
    opacity: 1;
}

.addsmoothbox {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 404px;
    height: 528px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 6px solid #121212;
    background: #000;
     box-shadow: 0px 5px 17.8px 26px rgba(0, 0, 0, 0.61) inset, -8px -18px 79.5px 9px rgba(255, 255, 255, 0.25) inset, 1px 1px 10px 2px rgba(255, 141, 187, 0.7), 5px -4px 10px 0px rgba(99, 255, 128, 0.7);
    backdrop-filter: blur(11.399999618530273px);
    
}


@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.sbcontent{
    padding-left: 27px;
    padding-right: 27px;
}

.sbcontent h3 {
    color: #FFF;
    font-family: "Work Sans";
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.35px;
    margin-bottom: 10px;
}   

.toggleie {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 61px;
    flex-shrink: 0;
    border-radius: 7px;
    background: #363131;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    gap: 10px;
    user-select: none;
}

.incometoggle,
.expensetoggle {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Work Sans";
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 8px;
    transition: background-color 0.3s ease;
}

input[id="income"]:checked + label {
    border-radius: 8px;
    background-color: rgb(25, 104, 58);
}

input[id="expense"]:checked + label {
    border-radius: 8px;
    background: #731A1A;
}

.toggleie input[type="radio"] {
      display: none;
}

.Amount, .Description, .Date {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 15px;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 200;
}

.amounttext {
    height: 40px;
    width: 70%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 22px;
    font-family: "Roboto Flex", sans-serif;
}

.amounttext:focus {
    outline-width: 0;
}

.desc {
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 40px; 
    height: 40px;
    background-color: #363131;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 22px;
    font-family: "Roboto Flex", sans-serif;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-image: url('data:image/svg+xml;utf8,<svg fill="white" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;


}


.dtpicker {
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 20px;
    height: 40px;
  
    background-color: #363131;
    border: none;
    color: white;
    font-size: 22px;
    font-family: "Roboto Flex", sans-serif;
    border-radius: 10px;
}

.menusfooter {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.add-form {
    color: white;
}

.cancel {
    width: 153px;
    height: 48px;   
    border-radius: 10px;
    background: transparent;

    color: #707070;
    text-align: center;
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.8px;
    border: none;
}

.addframebg {
    border-radius: 10px;
    background: #307E1C;
    box-shadow: 0px -3px 7.5px 2px rgba(5, 39, 0, 0.92) inset, -8px 16px 21.9px -5px rgba(255, 255, 255, 0.43) inset;
    width: 153px;
    height: 48px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add {
    border-radius: 10px;
    background: #307E1C;
    box-shadow: 0px -3px 7.5px 2px rgba(80, 139, 72, 0.92) inset, -8px 16px 21.9px -5px #275B1A inset;
    width: 142px;
    height: 39px;
    flex-shrink: 0;
    color: #FFF;

    text-align: center;
    font-family: "Work Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.88px;
    border: none;
    
}

.addframebg:hover {
    transform: translateY(3px);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.add:hover{
    cursor: pointer;
}

.cancel:hover {
    background: #000000;
    box-shadow: 0px -5px 10px 2px rgba(63, 63, 63, 0.25) inset;
    color: #FFF;
    cursor: pointer;
    
}



.addframebg:focus,
.addframebg:active {
    outline: none;
    box-shadow: 0px -3px 7.5px 2px rgba(5, 39, 0, 0.92) inset, -8px 16px 21.9px -5px rgba(255, 255, 255, 0.43) inset;
    background: #276516;

    .add {
        
        border: none;
        box-shadow: none;
    }
}


.expense-table {
    color: white;
    border-radius: 20px;
    border-collapse: collapse;
    background: #000;
    box-shadow: -54px -60px 45px -50px rgba(255, 255, 255, 0.21) inset;
    backdrop-filter: blur(11.399999618530273px);
    width: 100%;
    height: 100%;
    border: 0.5px solid black;
    z-index: 2;
    overflow: hidden;
    table-layout: fixed;
}

.expense-table th,
.expense-table tr {
    color: inherit;
    padding: 5px;
   
    color: #FFF;


}
.expense-table tbody tr:hover {
    background-color: rgba(56, 56, 56, 0.2);
}


.expense-table thead th {
    background-color: #000; 

}

.expense-table th {
     border: 0.2px solid rgb(46, 46, 46);
    text-align: center;
    font-family: "Work Sans";
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.05px;
}

.expense-table td {
    border: 0.2px solid rgb(46, 46, 46);
    padding: 15px;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 300;
}

.tableframe {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 6px solid #121212;
    background: #000;
    box-shadow: 0px 5px 17.8px 26px rgba(0, 0, 0, 0.61) inset, -8px -18px 79.5px 9px rgba(255, 255, 255, 0.25) inset, 1px 1px 5px 2px rgba(255, 141, 187, 0.4), 5px -4px 5px 0px rgba(99, 255, 128, 0.4);
    backdrop-filter: blur(11.399999618530273px);
    width: 60%;
    flex-shrink: 0;
}


.action-cell {
    
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 10px;
    border-left: none !important;
    border-top: none !important;
}

.amtcell {
    border-right: none !important;
}

.action-btn svg {
    transition: fill 0.2s ease;
    cursor: pointer;
    fill: #5f5f5f; 
}

.action-btn.edit:hover svg {
    fill: #e4e4e4; 
}

.action-btn.delete:hover svg {
    fill: #ff4d4d; 

}

.type-income {
    color: #4CAF50; 
    font-weight: 500;
}

.type-expense {
    color: #E53935;
    font-weight: 500;
}

.amt-income {
    color: #4CAF50;
}

.amt-expense {
    color: #E53935;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0 auto;
}

.uppermenuholder {
    display: flex;
    align-items: center; 
    gap: 10px; 
    margin-bottom: 30px;
    margin-top: 50px;
}

.upperbtn {
    display: flex;
    justify-content: center;
    height: 44px;
    width: 44px;
    flex-shrink: 0;
    background: #000;
    border-radius: 10px;
    border: 2px solid #272727;
    transition: all 0.3s ease-in-out;
    align-items: center;
}

.upperbtn:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 1px 7.8px 13px rgba(0, 0, 0, 0.68) inset, -3px -13px 32.8px 10px rgba(82, 82, 82, 0.25) inset, 5px -4px 13.4px 0px #000, 1px 7px 22.9px 2px #78AA96;
    cursor: pointer;
}

.titletableheader {
    display: flex;
    flex: 1;
    height: 44px;
    width: 1030px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #272727;
    background: #000;
    color: #FFF;
    font-family: "Work Sans";
    font-size: 27px;
    font-weight: 600;
    z-index: 10;
}

.totalframe {
    width: 60%;
    margin-top: 30px;
    display: flex;
    justify-content: end;
    color: white;
    color: #FFF;
    align-items: center;

    text-align: center;
    font-family: "Work Sans";
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.20px;
    gap: 20px;

}

.totalbox {
    align-items: center;
    justify-content: center;
    display: flex;
     border-radius: 10px;
    border: 2px solid #272727;
    background: #000;
    backdrop-filter: blur(11.399999618530273px);
    width: 250px;
    height: 66px;
    font-family: "Roboto Flex", sans-serif;
    font-size: 33px;
    font-style: normal;
    font-weight: 200;
   
}

.smoothbox {
    border-radius: 30px;
    border: 6px solid #121212;
    background: #000;
    box-shadow: 1px 4px 12.8px 27px rgba(0, 0, 0, 0.71) inset, -8px -18px 79.5px 9px rgba(255, 255, 255, 0.25) inset, 12px -11px 14.6px -3px #78AA96, 1px 5px 22.9px 2px rgba(255, 141, 187, 0.51);
    backdrop-filter: blur(11.399999618530273px);
    width: 404px;
    height: 347px;
    flex-shrink: 0;
    z-index: -2;
}

.rowdiv {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 30px;
    color: white;
}