body {
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center; 
    justify-content: center;          
    margin: 0;
    background-color: #0A0404;
}

.bg {
    display: flex;
    position: absolute;
    z-index: -100;
    left: 200px;
    top: 80px;
}

.green {
    width: 553.5px;
    height: 294.694px;
    flex-shrink: 0;

}

.pink {
    width: 547px;
    height: 336.5px;
    flex-shrink: 0;
    margin-top: 100px;
}

.font-worksans { font-family: 'Work Sans', sans-serif; }

.header h4 {
    font-family: "Roboto Flex", sans-serif;
    font-weight: 100;
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 22px;
    color: #FFF;
}

.header h2 {
    font-family: "Work Sans", sans-serif;
    text-align: center;
    font-size: 66px;
    font-weight: 600;
    margin-bottom: 0;
}

.header {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    

}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}

.title h2{
    letter-spacing: -4.28px;
    color: aliceblue;
    
}

.title img {
    width: 70.58px;
    align-self: flex-end;
    vertical-align: middle;
    display: inline-block;
   
}

